<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/style/layout.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <title>City-Api</title>
</head>
<body>

    @if (User.Identity.IsAuthenticated)
    {
        <header class="header">
            <div class="container">
                <div class="header__inner" id="nav">
                    <div class="header__logo">City-API</div>

                    <nav class="nav">
                        <a class="nav__link " href="/">Home</a>
                        <a class="nav__link" href="/Cities/Index">Search</a>
                        <a class="nav__link" href="/Rating/Index">Rating</a>
                        <a class="nav__link active" href="#">@User.Identity.Name</a>
                        <form class="nav__link" method="post" asp-controller="Account" asp-action="Logout" id="logout">
                            <a class="nav__link" href="#" onclick="document.getElementById('logout').submit()">Log out</a>
                        </form>
                    </nav>
                </div>
            </div>
        </header>
    }
    else
    {
        <header class="header">
            <div class="container">
                <div class="header__inner" id="nav">
                    <div class="header__logo">City-API</div>

                    <nav class="nav">
                        <a class="nav__link " href="/">Home</a>
                        <a class="nav__link" href="/Cities/Index">Search</a>
                        <a class="nav__link" href="/Rating/Index">Rating</a>
                        <a class="nav__link" href="/Account/Register">Sign up</a>
                        <a class="nav__link" href="/Account/Login">Log in</a>
                    </nav>
                </div>
            </div>
        </header>
    }
    <div>
        @RenderBody()
    </div>
    <footer class="footer" id="footer">
        <div class="container">
            <div class="copyright">
                <div class="footer__logo">City-API</div>
                <div class="footer__social">
                    <div class="footer__social-content">
                        Follow Us:
                        <a href="#" target="_blank">
                            <img class="nets" src="https://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Twitter-icon.png" alt="">
                        </a>
                        <a href="#" target="_blank">
                            <img class="nets" src="https://icons.iconarchive.com/icons/limav/flat-gradient-social/512/Linkedin-icon.png" alt="">
                        </a>
                        <a href="#" target="_blank">
                            <img class="nets" src="https://icons.iconarchive.com/icons/yootheme/social-bookmark/512/social-facebook-box-blue-icon.png" alt="">
                        </a>
                        <a href="#" target="_blank">
                            <img class="nets" src="https://icons.iconarchive.com/icons/bokehlicia/captiva/256/web-github-icon.png" alt="">
                        </a>
                    </div>
                    © 2022 City-Api <span>Vladislav Petrov</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
