.content {
    margin-top: 30px;
    background-color: rgba(199, 199, 199, 0.8);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}
.info {
    display: flex;
    flex-wrap: wrap;
    margin: 15px -15px;
}

.info__item {
    width: 100%;
    padding: 0 15px;
}

/* Accordion */

.descript__item {
    margin-bottom: -5px;
    border: 4px solid white;
    background-color: #052771;
}

    .descript__item.active .descript__content {
        display: block;
    }

    .descript__item.active .descript__header {
        border-bottom-color: white;
    }

        .descript__item.active .descript__header:after {
            transform: translateY(-50%) rotate(-45deg);
            margin-top: 5px;
        }

.descript__header {
    padding: 5px 8px 5px 65px;
    position: relative;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}

    .descript__header:after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border-top: 6px solid white;
        border-right: 6px solid white;
        position: absolute;
        top: 50%;
        right: 20px;
        z-index: 1;
        transform: translateY(-50%) rotate(135deg);
    }

.descript__content {
    padding: 5px 20px;
    display: none;
    font-size: 15px;
    color: white;
    font-weight: 300;
}

.descript__title {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}
